/* Variables */

:root {
	--bg-color: #001021;
	--secondary-color: #081a26;
	--card-hover-color: #14253a;
}

/* General */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: var(--bg-color);
	color: #ededed;
	font-family: "Ubuntu", sans-serif;
}

.clearfix {
	clear: both;
}

/* Header */

header {
	text-align: center;
	font-family: "Krona One", sans-serif;
}

header h1 {
	font-size: 50px;
	margin-top: 20px;
}

header h3 {
	font-weight: 200;
	font-size: 15px;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	color: #e0e0e0;
}

header h6 {
	font-family: "Ubuntu", sans-serif;
	font-size: 15px;
	margin-top: 50px;
}

/* Cards */

main {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: auto;
	flex-wrap: wrap;
}

main .crypto-card {
	background-color: var(--secondary-color);
	border-radius: 10px;
	width: 300px;
	padding: 10px 20px;
	margin: 10px 20px 20px;
}

main .crypto-card span {
	color: lawngreen;
	float: right;
}

main .crypto-card .refresh {
	display: none;
	text-transform: uppercase;
	float: right;
	font-size: 13px;
	opacity: 0.6;
	cursor: pointer;
}

main .crypto-card:hover {
	background-color: var(--card-hover-color);
}

main .crypto-card:hover .refresh {
	display: inline;
	
}

.refresh-all {
	align-self: center;
	opacity: 0.7;
	font-size: 20px;
	background-color: var(--card-hover-color);
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 10px;
	margin: 20px;
}

.refresh-all:hover {
	opacity: 1;
}

/* Footer */

footer {
	display: flex;
	justify-content: space-between;
	background-color: var(--secondary-color);
	margin-top: 20px;
}

footer > * {
	padding: 0 30px;
}

footer a {
	color: #f5f5f5;
	opacity: 0.6;
	text-decoration: none;
}

footer a:hover {
	opacity: 1;
}

/* Media Queries */

@media screen and (max-width: 500px) {
	main .crypto-card:hover {
		background-color: var(--secondary-color);
	}
	
	main .crypto-card .refresh {
		display: inline;
	}
	
	footer {
		flex-direction: column;
		text-align: center;
	}
	
	footer > * {
		padding: 0;
	}
}